/* body{
     background: url("https://plus.unsplash.com/premium_photo-1726848094123-b69f8c83b824?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2luZW1hfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=600")
    no-repeat center/cover;
    height: 100vh;
} */